
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #282c34;
  color: white;
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.App-sidebar-info {
  display: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.App-sidebar-info-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #282c34;
  margin-bottom: 20px;
}

.App-avatar{
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background: gray;
  margin-bottom: 20px;
}

.App-sidebar-info-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.App-sidebar-info-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.App-sidebar-info-more-button {
  background: #282c34;
  border: 1px solid #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.App-sidebar-info-more-button:hover {
  background: #282c34;
  border: 1px solid #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.App-sidebar-info-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-sidebar-info-more-button-collapse {
  background: #282c34;
  border: 1px solid #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.App-sidebar-info-contacts-item-link{
  text-decoration: none;
  color: white;
}

.App-sidebar-info-contacts-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.App-content{
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  height: 100%;
  background: #393e47;
  color: white;
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.App-content-banner {
  display: flex;
  height: 500px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.slick-slider {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 300px;
}

.App-content-banner-button-left {
  background: #282c34;
  border: 1px solid #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.App-content-banner-button-right {
  background: #282c34;
  border: 1px solid #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.App-content-banner-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.App-content-banner-item-image {
  width: 500px;
  height: 500px;
  border-radius: 20%;
  background: gray;
  margin-right: 20px;
}

.App-content-banner-item-name {
  width: calc(100% - 500px);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.App-content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-content-header-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.hidden{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
